
@{
    ViewBag.Title = "AddProduct";
}

<h2>Add Product</h2>
<div>
    <form action="" method="post">
        Name:<input type="text" class="form-control" name="Name" />
        Seller:<input type="text" class="form-control" name="Seller" />
        Price:<input type="number" class="form-control" name="Price" />
        Quantity:<input type="number" class="form-control" name="Quantity" />
        Category ID:<input type="number" class="form-control" name="CategoryID" />
        <input type="submit" class="alert-success" />
    </form>
</div>