
@{
    ViewBag.Title = "Index";
}
@{ 
    Session.Abandon();
}
<h3 class="text-center alert-success">@TempData["msg"]</h3>
<h1 class="page-header text-center">Welcome to the Ecommerce Site</h1>
<div class="body-content text-center" style="font-size:32px ">
    <a class="btn btn-success" href="/Home/SignIn">Log In</a><br />
    <a class="btn btn-success" href="/Home/SignUp">Don't Have an account?</a><br />
</div>
