
@{
    ViewBag.Title = "EnterProducts";
}

<h2>Add Products</h2>

<form action="" method="post">

    Name:<input type="text" class="form-control" name="name" />
    Price:<input type="number" class="form-control" name="price" />
    Quantity:<input type="number" class="form-control" name="qty" />
    <input type="submit" class="alert-success" />

</form>

